<div class="container">
  <h1>All Cocktails</h1>
  <%= cl_image_tag("ddomrvp8xrrbfnfvd4sn",
      width: 400, height: 300, crop: :fill) %>
  
  <ul>
    <% @cocktails.each do |cocktail| %>
    <li><%= link_to cocktail.name, cocktail_path(cocktail) %></li>
    <% end %>
  </ul>
<br>
  <br>
<%= link_to "Add a cocktail", new_cocktail_path %>
</div>